@charset "utf-8";
/* Note: Search results css is appended in the SearchJS.js file. */

* { 
    margin: 0;
}

.navbar {
    height: 15vh;
    background-color: black;
}

#search-location {
    width: 30%;
    margin-bottom: 1%;
    margin-left: 2%;
}

#search-term {
    width: 30%;
    margin-bottom: 1%;
    margin-left: 2%;
}

