@charset "utf-8";
/* Note: Search results css is appended in the SearchJS.js file. */

* { 
    margin: 0;
}



#search-location {
    width: 30%;
    margin-bottom: 1%;
    margin-left: 2%;
}

#search-term {
    width: 30%;
    margin-bottom: 1%;
    margin-left: 2%;
}

body {
    background-color: #722222;
}

#header {
    background-color: #000000;
    color: white;
}

#footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


