body {
    background-color: #722222;
}

#header {
    background-color: #000000;
    color: white;
}

.searchbar {
    width: 30%;
}

#footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


.content-container {
    overflow: hidden;
    margin: 0% 4%;
}

.hours-container {
    width: 40%;
    float: left; 
}

.reviews-container {
    width: 60%;
    float: right;
}