body {
    background-color: #722222;
}

#header {
    background-color: #000000;
    color: white;
}


#footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

#app {
    margin-bottom: 40px;
}

#results-container {
    width: 100%; 
    text-align: center;
    margin-bottom: 150px;
}

#receipt-container {
    width: 25%;
    text-align: left; 
    display: inline-block;
}


#submit-btn {
    margin-left: 1.5%; 
}