body {
    background-color: #722222;
}

#header {
    background-color: #000000;
    color: white;
}


#footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}
